@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@200&display=swap');

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #141414;
}

::-webkit-scrollbar-thumb {
    background-color: #302f2f;
    border-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 36px;
    font-family: 'PT Serif', serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    background-color: #292929;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: calc(33.33% - 40px);
    text-align: center;
    transition: background-color 0.3s ease;
}

.profile:hover {
    background-color: #333333;
}

.pfp img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.skills {
    margin-bottom: 10px;
}

.skill {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
    display: inline-block;
}

.social {
    margin-top: 10px;
}

.social a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.social a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s;
}

.social a:hover {
    color: #00aaff;
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    .container {
        justify-content: center;
    }

    .profile {
        width: 100%;
    }
}

button {
    color: #fff;
    padding: 10px 20px;
    background-color: #2b3031;
    border: none;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    font-size: 1.1em;
    border-radius: 5%;
}

.search {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #121212;
    color: #ffffff;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}

#searchInput::placeholder {
    color: #777;
}

#searchInput:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

