@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #ddd;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: #121212;
}
::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 12px;
}

header {
  background-color: #292929;
  position: sticky;
  top: 0;
  z-index: 10;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background: url(/assets/devprofilesicon.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  display: inline-block;
}

h1 {
  color: #29f199;
  padding: 20px 20px 20px 5px;
  font-size: 36px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.profile {
  background-color: #292929;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: calc(33.33% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
}
.profile:hover {
  background-color: #333333;
  border: 1px solid #a66efc;
  transition: 150ms;
}

.pfp img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

.skills {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 7px;
}

.skill {
  background-color: #444444;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px 10px 0;
  font-size: 14px;
}

.social {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  background-color: #444444;
  padding: 10px;
  border-radius: 20px;
}

.social a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s, font-size 0.3s;
}
.social a:hover {
  color: #8d44fa;
  font-size: 28px;
}

button {
  color: #fff;
  background-color: #a66efc;
  border-radius: 5%;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
}

.search {
  margin: 30px 0;
}

#searchInput {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(226, 226, 226, 0.938);
}
#searchInput::placeholder {
  color: #777;
}
#searchInput:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

footer {
  background-color: #1e1e1e;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-btn {
  width: 50px;
  height: 50px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  margin-right: 10px;
  margin-bottom: 10px;
  display: none;
  border-radius: 10px;
  background-color: #a66efc;
}
.arrow-icon {
  animation: bounce 2s infinite ease-in-out;
}
.arrow-icon > path {
  fill: #fff;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20%);
  }
}

.no-profile {
  padding: 20px;
  display: none;
}

#Dev {
  color: #faaf3a;
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
  }
  .profile {
    width: 100%;
  }
}

.footer-content {
  display: flex;
  width: 80%;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
}
.about {
  margin-bottom: 20px;
  text-align: center;
}
.flinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flinks > div {
  margin: 10px 0;
  text-align: center;
}
.fbtn {
  margin-top: 20px;
}
.about p.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
.about p {
  margin: 10px 0;
  color: #aaa;
}
.ficons {
  margin-top: 20px;
}
.ficons a {
  color: #fff;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}
.ficons a:hover {
  color: #a66efc;
}
.flinks p {
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}
.flinks a {
  display: block;
  color: #ddd;
  margin: 5px 0;
  text-decoration: none;
}
.flinks a:hover {
  color: #a66efc;
}
#star {
  background-color: #fff;
  color: #141111f1;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}
#sponsor {
  background-color: #e62d7766;
  color: #fffffff1;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}
.copyright {
  margin: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .about, .flinks {
    flex: 1;
  }
  .about {
    text-align: left;
  }
  .flinks {
    flex-direction: row;
    align-items: flex-start;
  }
  .flinks > div {
    margin: 0 10px;
    text-align: left;
  }
  .fbtn {
    margin-top: 0;
  }
}